extends layout

block content
	#hd
		.yui-gc
			.yui-u.first
				h1 Andrius Kripaitis
				h2 Laisvai samdomas Web programuotojas
			.yui-u
				.contact-info
					h3
						a(href='mailto:andrius.kripaitis@gmail.com') andrius.kripaitis@gmail.com
	#bd
		#yui-main
			.yui-b
				.yui-gf
					.yui-u.first
						h2 Apie
					.yui-u
						p.enlarge
							| Interneto svetainių kūrimas naudojant WordPress Turinio Valdymo Sistemą, JavaScript programavimas, Facebook aplikacijų kūrimas.
						p
							br
						p.enlarge
							| Daug dėmesio skiriu naujausių Internet technologijų ir standartų naudojimui praktikoje, nuolatiniam įrankių ir darbo metodikų gerinimui ir tobulinimui.
			.yui-gf
				.yui-u.first
					h2 Sugebėjimai
				.yui-u
					.talent
						h2 Web projektų programavimas
						p Interneto svetainių kūrimas naudojant WordPress Turinio Valdymo Sistemą. Profesionalus WordPress temų kūrimas, WordPress diegimas svetainėse.
							br
						| Daugiau informacijos: <br/>
						a(href='/wordpress-programuotojas.html') WordPress programuotojas
					.talent
						h2 JavaScript programavimas
						p Didelis dėmesys JavaScript programavimo kalbai ir susijusioms technologijoms. Kliento pusės programavimas JavaScript kalba. Node.js serverio pusės aplikacijų programavimas.
							br
						| Daugiau informacijos:<br/>
						a(href='/javascript-programuotojas.html', title='Laisvai samdomas JavaScript programuotojas') JavaScript programuotojas
					.talent
						h2 Facebook aplikacijų programavimas
						p Facebook aplikacijų kūrimas: žaidimai, konkursai, duomenų surinkimo formos, taikomosios aplikacijos. Facebook galimybių diegimas svetainėse.
		.yui-gf
			.yui-u.first
				h2 Darbo patirtis
			.yui-u
				.job
					h2 Laisvai samdomas Web programuotojas (freelance)
					h4 2006-dabar
					p
						a(href='http://apsai.lt/', title='Interneto projektų kūrimas', target='_blank') Interneto projektų kūrimas
						| : WordPress svetainių kūrimas, Facebook aplikacijų programavimas, JavaScript programavimas, PHP programavimas, profesionalių WordPress temų kūrimas, konsultacijos;
				.job
					h2 UAB "Electronic lab"
					h3 Web programuotojas
					h4 2007-2012
					p
						| Interneto projektų kūrimas: Facebook aplikacijos, mobilios aplikacijos, reprezentacinės svetainės, el. komercijos projektai, konkursai internete, WordPress svetainių diegimas, Įmonės Turinio Valdymo Sistemos projektavimas, kūrimas, vystymas, priežiūra ir diegimas klientų svetainėse;
				.job.last
					h2 IĮ Edrana
					h3 Web programuotojas
					h4 2006-2007
					p
					| Web aplinkoje veikiančios Verslo valdymo sistemos naujų funkcijų projektavimas bei realizavimas, klaidų taisymas.
		.yui-gf.last
			.yui-u.first
				h2 Išsilavinimas
			.yui-u
				h2 2003-2007 Vilniaus Universitetas, MIF
				h3 Programų Sistemų specialybė, informatikos bakalauras.
	#ft
		p
			| Andrius Kripaitis —
			a(href='http://www.linkedin.com/in/andriuskripaitis', target='_blank') Linkedin
		p
			a(href='mailto:andrius.kripaitis@gmail.com') andrius.kripaitis@gmail.com