extends layout

block content
	#hd
		.yui-gc
			.yui-u.first
				h1 JavaScript programuotojas
				h2
					a(href='/', title='Freelance web programuotojas') Andrius Kripaitis
			.yui-u
				.contact-info
					h3
						a(href='mailto:andrius.kripaitis@gmail.com') andrius.kripaitis@gmail.com
	#bd
		#yui-main
			.yui-b
				.yui-gf
					.yui-u.first
						h2 Apie
					.yui-u
						p.enlarge Esu Andrius Kripaitis - laisvai samdomas (freelance) JavaScript programuotojas.
						p
							br
						p.enlarge Oficiali mano, kaip JavaScript programuotojo karjera prasidėjo daugiau nei prieš septynerius metus kartu su pirmu interneto programuotojo darbu, tačiau tikrai didelis susidomėjimas šia nuostabia programavimo kalba atsirado keliais metais vėliau, kai darbas komandoje prie didelio projekto parodė kiek daug dar nežinau apie JavaScript.
						p
							br
						p.enlarge Nuo to laiko stengiuosi visais įmanomais būdais tobulinti savo, kaip JavaScript programuotojo įgūdžius: skaitau knygas, žiūriu video pristatymus, seku tinklaraščius, skaitau JavaScript kodą, ir, žinoma pats rašau DAUG JavaScript.
						p
							br
						p.enlarge Artimiausias mano, kaip programuotojo tikslas - tapti JavaScript nindze!
				.yui-gf
					.yui-u.first
						h2 Vartotojo pusės JavaScript programavimas
					.yui-u
						p.enlarge Interneto svetainių aktyvavimas naudojant JavaScript technologijas: AJAX, jQuery, HTML5 ir kitų Open Web galimybių panaudojimas praktikoje.<br>
							| Pažangių vieno puslapio aplikacijų ir tinklapių programavimas,  animacijos bei specialieji grafiniai efektai svetainėse, bei baneriuose.<br>
							| JavaScript panaudojimas mobiliose aplikacijose.<br>
							| Tinklapių įskiepiai, socialinių tinklų integracija ir daugelio kitų JavaScript programavimo priemonių panaudojimas kuriant modernius interneto sprendimus.
				.yui-gf
					.yui-u.first
						h2 Serverio pusės JavaScript programavimas
					.yui-u
						p.enlarge Node.js platformos atradimas teikia dideles viltis palengvinti programuotojo gyvenimą. <br>
							| Labai didelis šios technologijos privalumas yra JavaScript kalba rašomas kliento ir serverio kodas. Konfigūraciniai failai, duomenų bazės užklausos ir informacijos mainai tarp skirtingų sistemos komponentų aprašomi JSON formatu. <br>
							| Tokia architektūra padeda išvengti bereikalingo programuotojo "persijungimo" tarp skirtingų darbų taip padidinat produktyvumą.
				.yui-gf.last
					.yui-u.first
						h2 Kiti JavaScript panaudojimai
					.yui-u
						p.enlarge
							| Iš komandinės eilutės naudojami JavaScript paremti ir gyvenimą palengvinantys įrankiai:<br>
							a(href='http://phantomjs.org/', target='_blank') Phantom.js 
							| ir 
							a(href='http://casperjs.org/', target='_blank') CasperJS 
							| priemonių panaudojimas svetainės testavimui ir stebėjimui. <br> 
							a(href='http://gruntjs.com/', target='_blank') GRUNT 
							| užduočių paleidėjas.
	#ft
		p
		| Kontaktai: 
		a(href='/') Andrius Kripaitis