extends layout

block content
	#hd
		.yui-gc
			.yui-u.first
				h1 WordPress programuotojas
				h2
					a(href='/', title='Laisvai samdomas Web programuotojas') Andrius Kripaitis
			.yui-u
				.contact-info
					h3
					a(href='mailto:andrius.kripaitis@gmail.com') andrius.kripaitis@gmail.com
	#bd
		#yui-main
			.yui-b
				.yui-gf
					.yui-u.first
						h2 WordPress Programavimas
					.yui-u
						p.enlarge
							| Su 
							a(href='http://wordpress.org/', target='_blank') WordPress
							|  turinio valdymo sistema kaip vartotojas (svetainės administratorius) pradėjau dirbti 2009 m. Beveik tuo pačiu metu pradėjau tobulinti svetainėje naudojamą temą. Nuo 2011 m. programuoju WordPress temas klientams, 2012 startavo pirma komercinė mano suprogramuota WordPress tema.
				.yui-gf
					.yui-u.first
						h2 Sugebėjimai
					.yui-u
						.talent
							h2 WordPress temų programavimas
							p Profesionalus unikalaus web dizaino pritaikymas WordPress turinio valdymo sistemai, bazinio WordPress funkcionalumo išplėtimas pagal kliento poreikius, suprogramuotos temos diegimas serveryje, svetainės optimizavimas, priežiūra, atnaujinimas ir konsultacijos.<br>
						.talent
							h2 WordPress diegimas
							p Interneto svetainių kūrimas WordPress turinio valdymo sistemos pagrindu. Pasirinktos nemokamos, ar komercinės WordPress temos diegimas ir konfigūravimas, WordPress įskiepių programavimas, pritaikymas pagal kliento poreikius, papildomi programavimo darbai.
						.talent
							h2 WordPress konsultacijos
							p Konsultavimas ir pagalba kuriant, tobulinant, atnaujinat, programuojant ir optimizuojant WordPress Turinio Valdymo Sistemos pagrindu veikiančias svetaines ir kitas internet sistemas.
				.yui-gf.last
					.yui-u.first
						h2 WordPress darbų pavyzdžiai
					.yui-u
						p.enlarge Kelios WordPress temos prie kurių kūrimo man teko prisidėti: 
							a(href='http://apsai.lt/musu-darbai/', target='_blank', title='WordPress temos') WordPress temos »
	#ft
		p
			| Kontaktai: 
			a(href='/') Andrius Kripaitis